*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

div{
    display: inline;
    padding: 1em;
    background: red;
}

span{
    display: block;
    background: green;
}

.green{
    color: green;
    font-size: 2rem;
}