*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.fContainer{
    display:flex;    
    height: 80vh;

    justify-content: space-around;
    align-content: center;
    border: 2px solid red;
    flex-wrap: nowrap;
    gap: 2em;
}

.fItem1{
    border: 2px solid blue;
    padding: 1em 2em;
}

.fItem:nth-child(5){
    flex-grow: 1;
    background: wheat;
    flex-basis: 200px;
}

.fItem:nth-child(2){
font-size: 1rem;
background: greenyellow;
}

.fItem:nth-child(3){
order:10;
background: blanchedalmond;
}

.fItem:nth-child(4){
    font-size: 1rem;
    flex-shrink: 1;
    
}
.fItem:nth-child(5){
    font-size: 1rem;
    flex: 1 2 200px;
    background: rebeccapurple;

}

.fItem:last-child{
    font-size: 5rem;
}